.footerContainer{
    width: 100%;
}
.footerWrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #1F1C26 ;
    padding: 4% 10%;
}
.footerLeftContainer{
    width: 25%;
}
.footerRightContainer
{
    width: 30%;
   
}
.footerRightContainer {
    display: flex;
    justify-content: space-between;
}
.footerContainer h5{
    font-size: 18px;
}
.footerContainer p{
    font-size: 16px;
    color: #9b9a9e;
}
.footerIconsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}